.top-card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px 16px 16px 75px;
    background-color: #ffe6b3;
    width: 95.5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-height:400px;
    font-size:24px;
}
.left-card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #FFC759;
    width: 46.5%;
    float: left;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:center;
    min-height:1000px;
    font-size:24px;
}

.right-card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #FFC759;
    width: 46.5%;
    float: right;
    margin: 50px 2% 50px auto;
    text-align:center;
    min-height:1000px;
    font-size:24px;
}