body {
    background-color: #e4efc3;
}

.header-box {
    overflow: hidden;
    background-color: #C0DA74;
    padding: 20px 10px;
}

.header-box a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 26px;
    line-height: 50px;
    border-radius: 4px;
}

.header-box a.logo {
    font-size: 34px;
    font-weight: bold;
}

.header-box a:hover {
    background-color: #a4c936;
    color: black;
}

.header-menu {
    padding-left: 50px;
    float: left;
}

