.center-card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #e4efc3;
    width: 65%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align:center;
    min-height:2000px;
    font-size:24px;
}

.date-field {
    font-size: 26px;
    position:relative;
    margin:auto;
}

input[type=date] {
    width:auto;
    height:40px;
    font-size:20px;
    cursor:pointer;
    background-color: #C5DEDD;
}

input[type=date]:hover {
    font-weight:bold;
}

input[type=submit] {
    background-color:#DBE7E4;
    border:none;
    border-radius: 8px;
    float: right;
    width: 150px;
    margin-right: 50px;
    height: 150px;
    font-size: 26px;
    cursor: pointer;
}

input[type=submit]:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 13px 42px 0 rgba(0,0,0,0.19);
}

.btn-finalize{

}
.btn-cancel{

}