* {
    box-sizing: border-box;
}
#user-input {
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;

}



#receipt-table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    font-size: 17px;
    font-family: Optima, serif;
}

#receipt-table th{
    border: 1px solid black;
    background-color: #FFC759;
    height: 50px;
    color: black;
}

#receipt-table td{
    border: 1px solid black;
    color: black;

}

#receipt-table tr:nth-child(even){
    background-color: #FFE4AD;
}

#receipt-table tr:nth-child(odd){
    background-color: #FFD685;
}

.btn-update {
    background-color:#ffcc66;
    border:1px solid black;
    float:right;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    opacity: 75%;
    font-size: 17px;
    cursor: pointer;
    font-family: Candara, serif;
    font-weight: bold
}


.btn-add {
    background-color:#FFD685;
    border:2px solid black;
    border-radius: 12px;
    float:right;
    width: 230px;
    height: 45px;
    margin-right:280px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: Candara, serif;
    font-weight: bold
}

.btn-finalize {
    background-color:#FFE4AD;
    border:1px solid black;
    float:left;
    width: 49.5%;
    height: 100%;
    opacity: 75%;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    font-family: Candara, serif;
    font-weight: bold
}
.btn-cancel {
    background-color:#FFD685;
    border:1px solid black;
    float:right;
    width: 49.5%;
    height: 100%;
    opacity: 75%;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    font-family: Candara, serif;
    font-weight: bold
}

.btn-add:hover {
    background-color: #FFB41F;
    color: #be1e2d;
    transition: 0.2s;
}

.btn-update:hover {
    background-color: #FFB41F;
    color: #be1e2d;
    transition: 0.05s;
    opacity:100%;
}

.btn-receipt:hover {
    background-color: #FFB41F;
    color: #be1e2d;
    transition: 0.5s;
    opacity:100%;
}
.btn-finalize:hover {
    background-color: #FFB41F;
    color: #be1e2d;
    transition: 0.5s;
    opacity:100%;
}
.btn-cancel:hover {
    background-color: #FFB41F;
    color: #be1e2d;
    transition: 0.5s;
    opacity:100%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}