* {
    box-sizing: border-box;
}
#user-input {
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    width: 40%;
    margin: 20px 30%;

}



#receipt-table {
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#receipt-table th{
    border: 1px solid black;
    background-color: #a4c936;
    height: 50px;
    color: black;
}

#receipt-table td{
    border: 1px solid black;
    color: black;

}

#receipt-table tr:nth-child(even){
    background-color: #e4efc3;
}

#receipt-table tr:nth-child(odd){
    background-color: #C0DA74;
}

.btn-update{

}

.btn-add {

}

.btn-finalize {

}