<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
    <link rel="stylesheet" type="text/css" href="../header.css">
    <link rel="stylesheet" type="text/css" href="../tableLayout.css">
    <link rel="stylesheet" type="text/css" href="../card.css">
</head>
<body>
<div class="header-box">
    <a href="/"><img class="logo" alt="Nordi Motorhome Rental" src="https://i.imgur.com/pV8Doh3.png"/></a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>
<div class="center-card">
    <h1>Opret ny kunde</h1>
    <form action="/addCustomer" method="post">
        <label for="firstName">Fornavn: </label>
        <input type="text" name="firstName" id="firstName" placeholder="Fornavn" required>
        <br><br><label for="lastName">Efternavn: </label>
        <input type="text" name="lastName" id="lastName" placeholder="Efternavn" required>
        <br><br><label for="phoneNumber">Telefonnummer: </label>
        <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Telefonnummer" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" required>
        <br><br><label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <br><br><label for="driverLicense">Kørekortnummer: </label>
        <input type="text" name="driverLicense" id="driverLicense" placeholder="Driver License" required>
        <br><br><label for="driverSinceDate">Kørekort dato: </label>
        <input type="date" name="driverSinceDate" id="driverSinceDate" placeholder="Kørekort dato" required>
        <br><br><label for="address">Adresse: </label>
        <input type="text" name="address" id="address" placeholder="Address" required>
        <br><br><label for="zipcode">Postnummer: </label>
        <input type="number" name="zipcode" id="zipcode" placeholder="Zipcode" required>
        <br><br><label for="city">By: </label>
        <input type="text" name="city" id="city" placeholder="City" required>
        <br><br><label for="country">Land: </label>
        <input type="text" name="country" id="country" placeholder="Country" required>
        <br><br>
        <input class="btn-add" id="btn-add" type="submit" value="Tilføj ny kunde">
</form>
</div>
</body>
</html>