<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="tableLayout.css">
    <style>
        .center-card {
            box-sizing: border-box;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 16px;
            background-color: #C5DEDD;
            width: 65%;
            position:relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            text-align:center;
            min-height:500px;
            font-size:24px;
        }
    </style>
</head>
<body>

<div class="center-card">
<h1>Tilføj ny vare</h1>
    <form action="/addItem" method="post">
        <label>Indtast vare navn:</label>
        <input type="text" name="itemName" placeholder="Item Name">
        <br><br><label>Indtast vare pris (€):</label>
        <input type="text" name="itemPrice" placeholder="Item Price">
        <br><br><label for="selection-box">Vælg vare kategori:</label>
            <select name="foreign_categoryID" id="selection-box">
                <option value="1">Accessories</option>
                <option value="3">Repair</option>
                <option value="4">Cancellation</option>
                <option value="5">Transfercost</option>
                <option value="6">Fuel</option>
                <option value="7">Others</option>
            </select><br><br>
        <input class="btn-add" id="btn-add" type="submit" value="Tilføj ny vare">
    </form>
</div>
</body>
</html>