<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="tableLayout.css">
    <link rel="stylesheet" type="text/css" href="../card.css">
</head>
<body>
<div class="header-box">
    <a href="/"><img class="logo" alt="Nordi Motorhome Rental" src="https://i.imgur.com/pV8Doh3.png"/></a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>
<div class="center-card">
<h1>Tilføj ny vare</h1>
    <form action="/addItem" method="post">
        <label>Indtast vare navn:</label>
        <input type="text" name="itemName" placeholder="Item Name">
        <br><br><label>Indtast vare pris (€):</label>
        <input type="text" name="itemPrice" placeholder="Item Price">
        <br><br><label for="selection-box">Vælg vare kategori:</label>
            <select name="foreign_categoryID" id="selection-box">
                <option value="1">Accessories</option>
                <option value="3">Repair</option>
                <option value="4">Cancellation</option>
                <option value="5">Transfercost</option>
                <option value="6">Fuel</option>
                <option value="7">Others</option>
            </select><br><br>
        <input class="btn-add" id="btn-add" type="submit" value="Tilføj ny vare">
    </form>
</div>
</body>
</html>