<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="chooseMotorhome.css">
</head>
<body>

<div class="header-box">
    <a href="/" class="logo">Nordic Motorhome Rentals</a>
    <div class="header-menu">
        <a href="manageCustomers">Kunder</a>
        <a href="manageMotorhomes">Autocampere</a>
        <a href="manageContracts">Kontrakter</a>
        <a href="managePrices">Priser</a>
    </div>
</div>
<div class="center-card">
<h1>Vælg Autocamper:</h1>
    <ul th:if="${availableMotorhomes.empty}">
        <li colspan="2"> Ingen Autocampers tilgængelig </li>
    </ul>
        <ul th:each="motorhome : ${availableMotorhomes}">
            <a th:href="@{'/extraSelection/'+${motorhome.brandAndModel}}">
                <input type="hidden" name="startDate" th:value="${contractDate.startDate}"/>
                <input type="hidden" name="endDate" th:value="${contractDate.endDate}"/>

                <button class="motorhome-button" name="motorhome">
                    <span th:text="'Autocamper Model: '"/><b th:text="${motorhome.brandAndModel}"/><br/>
                    <span th:text="'Antal Sæder: '"/><b th:text="${motorhome.capacity}"/><br/>
                    <span th:text="'Pris pr. dag: '"/><b th:text="${motorhome.rentalPrice}+' kr.'"/>
                </button>
            </a>
        </ul>
    </div>

</body>
</html>