<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Finalize Customer</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="tableLayout.css">
</head>
<body>
<div class="header-box">
    <a href="/"><img class="logo" alt="Nordi Motorhome Rental" src="https://i.imgur.com/pV8Doh3.png"/></a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>
<input type="text" id="user-input" onkeyup="userSearch()" placeholder="Search for: Contract ID, Motorhome ID, Customer ID or Order ID">
<table id="receipt-table">
    <thead>
    <tr>
        <th>Contract ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start Odometer</th>
        <th>End Odometer</th>
        <th>Estimated Price</th>
        <th>Motorhome ID</th>
        <th>Customer ID</th>
        <th>Order ID</th>
        <th>Close Contract</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contracts: ${ongoingContracts}">
        <td th:text="${contracts.contractID}"/>
        <td th:text="${contracts.startDate}"/>
        <td th:text="${contracts.endDate}" />
        <td th:text="${contracts.startOdometer}" />
        <td th:text="${contracts.endOdometer}" />
        <td th:text="${contracts.totalPrice} + '€'"/>
        <td th:text="${contracts.foreign_MotorhomeID}"/>
        <td th:text="${contracts.foreign_CustomerID}"/>
        <td th:text="${contracts.foreign_OrderID}"/>
        <td>
            <a th:href="@{'/finalizeContract/'+${contracts.contractID}}">
                <button class="btn-finalize" >Færdiggør kontrakt</button>
            </a>
            <a th:href="@{'/cancelContract/'+${contracts.contractID}}">
                <button class="btn-cancel" >Annuller kontrakt</button>
            </a>
        </td>
    </tr>
    </tbody>

</table>

<!--search funktion, filtrer tabel ud fra user-input-->
<!--Input er brugerens input, filter tjekker textContent, og fjerner row hvis i input ikke passer med søgning-->
<!--td, td1 osv. Er de columns man kan søge på, hvor [i] er column nummerering-->
<script>
    function userSearch() {
        var input, filter, table, tr, td, td1, td2, td3, i;
        input = document.getElementById("user-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("receipt-table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {  <!--tjekker hver td og om de skal kunne filtreres ud fra -->
            td = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[6];
            td2 = tr[i].getElementsByTagName("td")[7];
            td3 = tr[i].getElementsByTagName("td")[8];
            if (td) {
                if ( (td.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td1.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td2.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td3.textContent.toUpperCase().indexOf(filter) > -1) )  {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>



</body>
</html>