<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rentals</title>
    <link rel="stylesheet" type="text/css" href="../header.css">
    <link rel="stylesheet" type="text/css" href="../receipt.css">
</head>
<body>
<div class="header-box">
    <a href="/" class="logo">Nordic Motorhome Rentals</a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>

<div class="top-card">
    <h1 style="float: left;">Nordic Motorhome Rentals</h1>
    <b style="float:right;" th:text="'Dato: '+${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></b><br>
    <b style="float:right;" th:text="'Kontrakt #'+${mainContract.contractID}"></b><br>
    <div id="new-line">
    <b>Start date: </b><span th:text="${mainContract.startDate}"/><br>
    <b>End Date: </b><span th:text="${mainContract.endDate}"/><br>
    </div>
    <br>
    <table style="width:100%; text-align: left;">
        <tr>
            <th>Kunde Info</th>
            <th>Kontrakt Info</th>
        </tr>
        <tr>
            <td>
                <span th:text="${chosenCustomer.firstName} + ' ' + ${chosenCustomer.lastName}"/><br>
                <span th:text="${chosenCustomer.address} + ', '"/><br>
                <span th:text="${chosenCustomer.city}+', '+${chosenCustomer.zipcode}"/>
            </td>
            <td>
                <span th:text="'Order ID: '+${mainContract.foreign_OrderID}"/><br>
                <span th:text="'Kunde ID: '+${mainContract.foreign_CustomerID}"/><br>
                <span th:text="${chosenCustomer.country}"/>
            </td>
        </tr>
    </table>
    <br>
    <table id="receipt-table">
        <thead>
        <tr>
            <th>Antal</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Fuld pris</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="contractDetails : ${details}">
            <div th:each="item : ${prices}">
                <tr th:if="${contractDetails.foreign_feeID == item.feeID}">
                    <td th:text="${contractDetails.amount}"/>
                    <td th:text="${item.itemName}"/>
                    <td th:text="${item.itemPrice} + '€'"/>
                    <td th:text="${contractDetails.calculatedPrice} + '€'"/>
                </tr>
            </div>
        </div>
        <tr>
            <td th:text="'Dage: '+ ${daysBetween}"/>
            <td th:text="'Autocamper: '+${selectedMotorhome.brandAndModel} + ' #' + ${selectedMotorhome.numberPlate}"/>
            <td th:text="${seasonDetail.calculatedPrice}+'€'"/>
            <td th:text="${motorhomeTotalPrice}+'€'"/>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th><b>TOTAL PRICE: </b></th>
            <th th:text="${mainContract.totalPrice}+'€'"/>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>