<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rentals</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="createContract.css">
    <link rel="stylesheet" type="text/css" href="tableLayout.css">
</head>
<body>
<div class="header-box">
    <a href="/" class="logo">Nordic Motorhome Rentals</a>
    <div class="header-menu">
        <a href="manageCustomers">Kunder</a>
        <a href="manageMotorhomes">Autocampere</a>
        <a href="manageContracts">Kontrakter</a>
        <a href="managePrices">Priser</a>
        <a href="https://www.youtube.com/watch?v=jXg1zCbqQ5g">Shark POG</a>
    </div>
</div>


<div class="top-card">
    <h2>Current Contract</h2>
    <span><b>Start date:</b><span th:text="${initialContract.startDate}+' - '"/></span>
    <span><b>End Date:</b><span th:text="${initialContract.endDate}"/></span>><br>
    <span><b>Start Odometer:</b><span th:text="' '+${initialContract.startOdometer} + ' km.'"/></span><br>
    <span th:text="'Motorhome: '+${selectedMotorhome.brandAndModel}+': '+${motorhomeTotalPrice}+'£'"/>
    <div th:each="contractDetails : ${details}">
        <div th:each="item : ${prices}">
            <div th:if="${contractDetails.foreign_feeID == item.feeID}">
                <span th:text="${contractDetails.amount} + 'x ' + ${item.itemName} +  ': ' + ${contractDetails.calculatedPrice} + '£'"/>
            </div>
        </div>
    </div>

    <span><b>Total Price:</b> <span th:text="${initialContract.totalPrice}+'£'"/></span>

</div>


<div class="left-card">
    <form th:action="@{/newCustomerToContract}" th:object="${customers}" method="post">
        <label for="firstName">Enter First Name</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"><br>
        <label for="lastName">Enter Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"><br>
        <label for="phoneNumber">Enter Phone Number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone Number"><br>
        <label for="email">Enter Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email"><br>
        <label for="driverLicense">Enter Driver License</label>
        <input type="text" th:field="*{driverLicense}" id="driverLicense" placeholder="driver License"><br>
        <label for="driverSinceDate">Enter driver license Date</label>
        <input type="date" th:field="*{driverSinceDate}" id="driverSinceDate"><br>
        <label for="address">Enter Address</label>
        <input type="text" th:field="*{address}" id="address" placeholder="Address"><br>
        <label for="zipcode">Enter Zipcode</label>
        <input type="text" th:field="*{zipcode}" id="zipcode" placeholder="Zipcode"><br>
        <label for="city">Enter City</label>
        <input type="text" th:field="*{city}" id="city" placeholder="City"><br>
        <label for="country">Enter Country</label>
        <input type="text" th:field="*{country}" id="country" placeholder="Country"><br>

            <input name="startDate" type="hidden" th:value="${initialContract.startDate}">
            <input name="endDate" type="hidden" th:value="${initialContract.endDate}">
            <input name="startOdometer"  type="hidden" th:value="${initialContract.startOdometer}">
            <input name="endOdometer" type="hidden" th:value="${initialContract.endOdometer}">
            <input name="totalPrice"  type="hidden" th:value="${initialContract.totalPrice}">
            <input name="foreign_MotorhomeID" type="hidden" th:value="${initialContract.foreign_MotorhomeID}">
            <input name="foreign_OrderID" type="hidden" th:value="${initialContract.foreign_OrderID}">

        <input class="btn-add" type="submit" value="Create new Customer" style="color: #4CAF50">
    </form>
</div>


<div class="right-card">
    <input type="text" id="user-input" onkeyup="userSearch()" placeholder="Search for customer">
    <table id="receipt-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Driver License</th>
            <th>Choose</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="customer: ${allCustomers}">
                <td th:text="${customer.customerID}"/>
                <td th:text="${customer.firstName}"/>
                <td th:text="${customer.lastName}" />
                <td th:text="${customer.phoneNumber}" />
                <td th:text="${customer.email}" />
                <td th:text="${customer.driverLicense}"/>
                <td>
            <form th:action="@{/newCustomerToContract}" method="post">
                <input type="hidden" name="customerID" th:value="${customer.customerID}"/>
                <input name="startDate" type="hidden" th:value="${initialContract.startDate}">
                <input name="endDate"  type="hidden" th:value="${initialContract.endDate}"/>
                <input name="startOdometer"  type="hidden" th:value="${initialContract.startOdometer}">
                <input name="endOdometer" type="hidden" th:value="${initialContract.endOdometer}">
                <input name="totalPrice" type="hidden" th:value="${initialContract.totalPrice}">
                <input name="foreign_MotorhomeID" type="hidden" th:value="${initialContract.foreign_MotorhomeID}">
                <input name="foreign_OrderID" type="hidden" th:value="${initialContract.foreign_OrderID}">
                <input type="submit">
            </form>
            </td>
        </tr>
    </tbody>
    </table>
</div>

<script>
    function userSearch() {
        var input, filter, table, tr, td, td1, td2, td3, i;
        input = document.getElementById("user-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("receipt-table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {  <!--tjekker hver td og om de skal kunne filtreres ud fra -->
            td = tr[i].getElementsByTagName("td")[1];
            td1 = tr[i].getElementsByTagName("td")[2];
            td2 = tr[i].getElementsByTagName("td")[3];
            td3 = tr[i].getElementsByTagName("td")[4];
            if (td) {
                if ( (td.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td1.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td2.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td3.textContent.toUpperCase().indexOf(filter) > -1) )  {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

</body>
</html>