<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}header.css">
    <link rel="stylesheet" type="text/css" href="">
</head>
<body>
<div class="header-box">
    <a href="/" class="logo">Nordic Motorhome Rentals</a>
    <div class="header-menu">
        <a href="manageCustomers">Kunder</a>
        <a href="manageMotorhomes">Autocampere</a>
        <a href="manageContracts">Kontrakter</a>
        <a href="managePrices">Priser</a>
        <a href="https://www.youtube.com/watch?v=jxo_K7JLZxQ">KEKW</a>
    </div>
</div>
<h1>External CSS files dosn't work on this page KEKW it's cuz of @PathVariable and custom URL oh well</h1>
</body>
</html>