<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Extras</title>
    <link rel="stylesheet" type="text/css" href="../header.css">
    <link rel="stylesheet" type="text/css" href="../extraSelection.css">
</head>
<body>
<div class="header-box">
    <a href="/"><img class="logo" alt="Nordic Motorhome Rental" src="https://i.imgur.com/pV8Doh3.png"/></a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>
<div class="center-card">
    <h1 th:text="'Model: ' + ${brandAndModel}"></h1>
    <form action="/createContract" method="post">
        <input type="hidden" name="startDate" th:value="${contractDate.startDate}">
        <input type="hidden" name="endDate" th:value="${contractDate.endDate}">
    <ul th:if="${sortedMotorhomes.empty}">
        <li colspan="2">
            <a href="index"> Ingen motorhomes. Tilbage til forsiden</a>
        </li>
    </ul>
    <select name="motorhomeID">
    <ul th:each="motorhome : ${sortedMotorhomes}">
        <option th:value="${motorhome.motorhomeID}">
        <span th:text="'Odometer: '"/><b th:text="${motorhome.odometer}"/><br/>
        <span th:text="'Nummerplade: '"/><b th:text="${motorhome.numberPlate}"/><br/>
        </option>>
    </ul>
    </select>

    <ul th:each="price, i : ${accessories}">
        <span th:text="${price.feeID}"/><br/>
        <span th:text="'Navn: '"/><b th:text="${price.itemName}"/><br/>
        <span th:text="'Price: '"/><b th:text="${price.itemPrice}+'€'"/><br/>
        <input type="number" name="amount" min="0" max="10" value="0" required/>
        <input type="hidden" name="foreign_feeID" th:value="${price.feeID}"/>
    </ul>

    <h1>Indtast kilometer til pick-up og drop-off points </h1>
    <ul th:each="price, i : ${transferCost}">
        <span th:text="${price.feeID}"/><br/>
        <span th:text="''"/><b th:text="${price.itemName}"/><br/>
        <span th:text="'Price: '"/><b th:text="${price.itemPrice}+'€'"/><br/>
        <input type="number" name="amount" min="0" max="1000" value="0" required>
        <input type="hidden" name="foreign_feeID" th:value="${price.feeID}">
    </ul>
    <input type="submit" value="submit">

    </ul>
    <select name="feeID">
        <ul th:each="price : ${seasons}">
            <option th:value="${price.feeID}">
                <span th:text="'Season: '"/><b th:text="${price.itemName}"/><br/>
                <span th:text="'Price: '"/><b th:text="${price.itemPrice}+'€'"/><br/>
            </option>
        </ul>
    </select>
</form>
</div>
</body>
</html>