<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Finalized Contract Reciept</title>
</head>
<body>


    <div class="top-card">

    <b>Start date: </b><span th:text="${contracts.startDate}"/><br>
    <b>End Date: </b><span th:text="${contracts.endDate}"/><br>
    <table>
        <thead>
        <tr>
            <th>Antal</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Fuld pris</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="contractDetails : ${details}">
            <div th:each="item : ${prices}">
                <tr th:if="${contractDetails.foreign_feeID == item.feeID}">
                    <td th:text="${contractDetails.amount}"/>
                    <td th:text="${item.itemName}"/>
                    <td th:text="${item.itemPrice} + '£'"/>
                    <td th:text="${contractDetails.calculatedPrice} + '£'"/>
                </tr>
            </div>
        </div>
        <tr>
            <td th:text="'Dage: '+ ${daysBetween}"/>
            <td th:text="${selectedMotorhome.brandAndModel} + ' #' + ${selectedMotorhome.numberPlate}"/>
            <td th:text="${seasonDetail.calculatedPrice}+'£'"/>
            <td th:text="${motorhomeTotalPrice}+'£'"/>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th><b>TOTAL PRICE</b></th>
            <th th:text="${contracts.totalPrice}+'£'"/>
        </tr>
        </tbody>
    </table>

    </div>


</body>
</html>