<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rentals</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="header-box">
    <a href="/"><img class="logo" alt="Nordi Motorhome Rental" src="https://i.imgur.com/pV8Doh3.png"/></a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>

<div class="center-card">
    <h1>Skriv den forventede leje dato</h1>
        <form action="chooseMotorhome" method="post">
            <div class="date-field">
                <label for="startDate">Fra den: </label>
                <input type="date" id="startDate" name="startDate" required>
                <label for="endDate">Til den: </label>
                <input type="date" id="endDate" name="endDate">
                <input type="submit" value="Søg">
            </div>
        </form>
    <br><h2>Eller</h2><br>

        <a href="closeContractTable">
            <button>Afslut En Kontrakt</button>
        </a>
</div>

</body>
</html>