<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rentals</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="header-box">
    <a href="/" class="logo">Nordic Motorhome Rentals</a>
    <div class="header-menu">
        <a href="manageCustomers">Kunder</a>
        <a href="manageMotorhomes">Autocampere</a>
        <a href="manageContracts">Kontrakter</a>
        <a href="managePrices">Priser</a>
        <a href="https://www.youtube.com/watch?v=jXg1zCbqQ5g">Shark POG</a>
    </div>
</div>

<div class="center-card">
    <h1>Skriv den forventede leje dato</h1>
        <form action="chooseMotorhome" method="post">
            <div class="date-field">
                <label for="startDate">Fra den: </label>
                <input type="date" id="startDate" name="startDate" required>
                <label for="endDate">Til den: </label>
                <input type="date" id="endDate" name="endDate" required>
            </div>
            <input type="submit" value="Søg">
        </form>
    <div class="box">
        <a href="finalizeContractTable">
            <button class="btn-finalize" id="btn-finalize">Færdigør Kontrakt</button>
        </a>
    </div>
</div>

</body>
</html>