<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="tableLayout.css">
</head>
<body>
<div class="header-box">
    <a href="/" class="logo">Nordic Motorhome Rentals</a>
    <div class="header-menu">
        <a href="manageCustomers">Kunder</a>
        <a href="manageMotorhomes">Autocampere</a>
        <a href="manageContracts">Kontrakter</a>
        <a href="managePrices">Priser</a>
    </div>
</div>
<input type="text" id="user-input" onkeyup="userSearch()" placeholder="Search for customer">
<table id="filter-table">
    <thead>
    <tr>
        <th>Contract ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Finalized</th>
        <th>Cancelled</th>
        <th>Motorhome ID</th>
        <th>Customer ID</th>
        <th>Order ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contracts: ${contracts}">
        <td th:text="${contracts.contractID}"/>
        <td th:text="${contracts.startDate}"/>
        <td th:text="${contracts.endDate}" />
        <td th:text="${contracts.finalizedContract}" />
        <td th:text="${contracts.cancelledContract}" />
        <td th:text="${contracts.foreignMotorhomeID}"/>
        <td th:text="${contracts.foreignCustomerID}"/>
        <td th:text="${contracts.foreignOrderID}"/>
    </tr>
    </tbody>
</table>

<!--search funktion, filtrer tabel ud fra user-input-->
<!--Input er brugerens input, filter tjekker textContent, og fjerner row hvis i input ikke passer med søgning-->
<!--td, td1 osv. Er de columns man kan søge på, hvor [i] er column nummerering-->
<script>
    function userSearch() {
        var input, filter, table, tr, td, td1, td2, td3, i;
        input = document.getElementById("user-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("filter-table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {  <!--tjekker hver td og om de skal kunne filtreres ud fra -->
            td = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[2];
            td3 = tr[i].getElementsByTagName("td")[8];
            if (td) {
                if ( (td.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td1.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td2.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td3.textContent.toUpperCase().indexOf(filter) > -1) )  {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


</body>
</html>