<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prices</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="managePrices.css">
</head>
<body>
<div class="header-box">
    <a href="/" class="logo">Nordic Motorhome Rentals</a>
    <div class="header-menu">
        <a href="manageCustomers">Customers</a>
        <a href="manageMotorhomes">Motorhomes</a>
        <a href="manageContracts">Contracts</a>
        <a href="managePrices">Prices</a>
    </div>
</div>

</body>
</html>