<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Prices</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="tableLayout.css">
</head>
<body>
<div class="header-box">
    <a href="/"><img class="logo" alt="Nordi Motorhome Rental" src="https://i.imgur.com/pV8Doh3.png"/></a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>

<input type="text" id="user-input" onkeyup="userSearch()" placeholder="Search for: Item Name or Category">
<a href="/addItem">
    <button class="btn-add">Add new item to fees</button>
</a>
<table id="receipt-table">
    <thead>
    <tr>
        <th>Item-Fee ID</th>
        <th>Item Name</th>
        <th>Item Category</th>
        <th>Price</th>
        <th>Update Item-information</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="contractDetails : ${details}">
        <div th:each="item : ${prices}">
            <div th:if="${contractDetails.foreign_feeID == item.feeID}">
                <span th:text="${contractDetails.amount} + 'x ' + ${item.itemName} +  ': ' + ${contractDetails.calculatedPrice} + '€'"/>
            </div>
        </div>
    </div>
    <tr th:each="prices: ${prices}">
        <td th:text="${prices.feeID}"/>
        <td th:text="${prices.itemName}"/>
        <td th:text="${prices.itemCategory}"/>
        <td th:text="${prices.itemPrice} + '€'" ></td>
        <td>
            <span th:unless="${prices.foreign_categoryID == 2}">
                <a th:href="@{'/updateItem/'+${prices.feeID}}">
                <button class="btn-update" id="btn-update">Opdater vare information</button>
                </a>
            </span>
        </td>
    </tr>
    </tbody>
</table>

<!--search funktion, filtrer tabel ud fra user-input-->
<!--Input er brugerens input, filter tjekker textContent, og fjerner row hvis i input ikke passer med søgning-->
<!--td, td1 osv. Er de columns man kan søge på, hvor [i] er column nummerering-->
<script>
    function userSearch() {
        var input, filter, table, tr, td, td1,  i;
        input = document.getElementById("user-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("receipt-table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {   <!--tjekker hver td og om de skal kunne filtreres ud fra -->
            td = tr[i].getElementsByTagName("td")[1];
            td1 = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if ( (td.textContent.toUpperCase().indexOf(filter) > -1) ||
                    (td1.textContent.toUpperCase().indexOf(filter) > -1)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>