<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:checked="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update motorhome info</title>
    <link rel="stylesheet" type="text/css" href="../header.css">
    <link rel="stylesheet" type="text/css" href="../updateAdd.css">
    <link rel="stylesheet" type="text/css" href="../card.css">
<body>
<div class="header-box">
    <a href="/"><img class="logo" alt="Nordi Motorhome Rental" src="https://i.imgur.com/pV8Doh3.png"/></a>
    <div class="header-menu">
        <a href="../manageCustomers">Kunder</a>
        <a href="../manageMotorhomes">Autocampere</a>
        <a href="../manageContracts">Kontrakter</a>
        <a href="../managePrices">Priser</a>
    </div>
</div>
<div class="center-card">
    <h1>Opdater autocampers information</h1>
    <form action="/updateMotorhomeInformation" method="post">
        <br><label>Opdater odometer:</label>
        <input type="text" name="odometer" th:value="${motorhomes.odometer}" placeholder="${motorhomes.odometer}"><br>
        <br><label>Opdater autrocamper pris pr. dag:</label>
        <input type="text" name="rentalPrice" th:value="${motorhomes.rentalPrice}" placeholder="${motorhomes.rentalPrice} + ' kr.'}"><br>

        <br><label>In service: </label>
        <span th:if="${motorhomes.inService == false}">
            <label class="switch">
                <input type="checkbox" name="inService" checked:value="${motorhomes.inService}">
                <span class="slider round">
        </span>
            </label>
        </span>
        <span th:if="${motorhomes.inService == true}">
            <label class="switch">
                <input type="checkbox" name="inService" checked checked:value="${motorhomes.inService}">
                <span class="slider round"></span>
            </label>
        </span><br><br>
        <input type="hidden" name="motorhomeID" th:value="${motorhomes.motorhomeID}">
        <input class="btn" id="btn" type="submit" value="Gem ændringer">
    </form>
</div>

</body>
</html>