<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer Information</title>
    <link rel="stylesheet" type="text/css" href="../updateInfoPage.css">
    <style>
        body {
            background-color: #fff2e6;
        }
    </style>
</head>
<body>

<h1>Update customer information and submit changes</h1>
<br><br>
<div class="box">
<form action="/updateCustomerInformation" method="post">

    <br><br> <label>First name: </label>
    <input type="text" name="firstName" th:value="${customers.firstName}" placeholder="${customers.firstName}">
    <br><br> <label>Last name: </label>
    <input type="text" name="lastName" th:value="${customers.lastName}" placeholder="${customers.lastName}">
    <br><br> <label>Phonenumber: </label>
    <input type="text" name="phoneNumber" th:value="${customers.phoneNumber}" placeholder="${customers.phoneNumber}">
    <br><br> <label>Email: </label>
    <input type="text" name="email" th:value="${customers.email}" placeholder="${customers.email}">
    <br><br> <label>Address: </label>
    <input type="text" name="address" th:value="${customers.address}" placeholder="${customers.address}">
    <br><br> <label>Zipcode: </label>
    <input type="text" name="zipcode" th:value="${customers.zipcode}" placeholder="${customers.zipcode}">
    <br><br> <label>City: </label>
    <input type="text" name="city" th:value="${customers.city}" placeholder="${customers.city}">
    <br><br> <label>Country: </label>
    <input type="text" name="country" th:value="${customers.country}" placeholder="${customers.country}">

    <input type="hidden" name="customerID" th:value="${customers.customerID}">
    <input type="hidden" name="addressID" th:value="${customers.addressID}">
    <input type="hidden" name="zipcodeID" th:value="${customers.zipcodeID}">
    <input type="hidden" name="countryID" th:value="${customers.countryID}">

    <br><br>
    <input type="submit" value="Save changes">
</form>

</div>
</body>
</html>